<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Benvenuto nel tuo CRM</h2>

    <div class="row row-cols-1 row-cols-sm-3 align-items-stretch g-4 py-5">
        <div class="col">
            <div class="card card-cover overflow-hidden text-white bg-dark rounded-4 shadow-lg" id="primaImg" [routerLink]="['/fatture']" routerLinkActive="active">
                <div class="d-flex flex-column p-5 pb-3 text-white text-shadow-1" id="interno1">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Fatture</h2>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg" id="secondaImg" [routerLink]="['/utenti']" routerLinkActive="active">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1" id="interno2">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Utenti</h2>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg" id="terzaImg" [routerLink]="['/clienti']" routerLinkActive="active">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1" id="interno3">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Clienti</h2>
                </div>
            </div>
        </div>
    </div>
</div>