.nav-link {
    color: white;
    font-size: 1rem !important;
    display: block !important;
    width: 100%!important;
    font-weight: bold;
}

.nav-item {
    margin-left: 20%;
    display: inline;
}

ul {
    align-items: center;
}