<div class="row justify-content-center">
    <div class="col-6">
        <main class="form-signin w-100 m-auto">
            <form #form="ngForm" (ngSubmit)="onsubmit(form.value)">
                <img class="mb-4" src="https://www.levia.it/media/immagini/1655_n_logo_fatt%20in%20cloud_blu_vert_SITO%20LEVIA.png" alt="" width="72" height="57">
                <div class="form-floating mb-3">
                    <input ngModel name="username" type="text" class="form-control" id="floatingInput" placeholder="Username">
                    <label for="floatingInput">Username</label>
                </div>
                <div class="form-floating mb-3">
                    <input ngModel name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>

                <div class="checkbox mb-3">
                    <label>
                      <input type="checkbox" value="remember-me"> Ricordami
                  </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Accedi</button>
            </form>
        </main>
    </div>
</div>