.card-body {
    text-align: center;
}

.input {
    display: inline-block;
    margin: 10px;
    width: 45%;
}

.modal-content {
    width: 150%!important;
}

.modal-dialog {
    align-items: center;
}

#testa {
    margin: 0;
    align-items: space-between;
}

#ricerca {
    align-items: center;
    text-align: center!important;
    display: inline-block;
    margin: 10px;
    width: 45%;
}

label {
    font-size: 1rem!important;
}