.card-body {
    text-align: center;
}

.input {
    display: inline-block;
    margin: 10px;
    width: 45%;
}

.modal-content {
    width: 150%!important;
}

.modal-dialog {
    align-items: center;
}