<div class="row justify-content-center">
    <div class="col-6">
        <main class="form-signin w-100 m-auto">
            <form #form="ngForm" (ngSubmit)="onsubmit(form.value)">
                <img class="mb-4" src="https://www.levia.it/media/immagini/1655_n_logo_fatt%20in%20cloud_blu_vert_SITO%20LEVIA.png" alt="" width="72" height="57">
                <div class="form-floating mb-3">
                    <input ngModel name="username" type="text" class="form-control" id="floatingInput" placeholder="Username">
                    <label for="floatingInput">Username</label>
                </div>
                <div class="form-floating mb-3">
                    <input ngModel name="email" type="email" class="form-control" id="floatingEmail" placeholder="Email">
                    <label for="floatingEmail">Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input ngModel name="nome" type="text" class="form-control" id="floatingName" placeholder="Nome">
                    <label for="floatingName">Nome</label>
                </div>
                <div class="form-floating mb-3">
                    <input ngModel name="cognome" type="text" class="form-control" id="floatingSurname" placeholder="Cognome">
                    <label for="floatingSurname">Cognome</label>
                </div>
                <div class="form-floating mb-3">
                    <input ngModel name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <select ngModel name="roles" id="roles" class="form-select mb-3" aria-label="Default select example">
                  <option value=" " >Seleziona il ruolo</option>
                  <option ngValue="user">User</option>
                  <option ngValue="admin">Admin</option>
              </select>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Registrami</button>
            </form>
        </main>
    </div>
</div>