#testa {
    margin: 0;
    align-items: space-between;
}

#ricerca {
    align-items: center;
    text-align: center!important;
    label {
        font-size: 1rem!important;
    }
}

h2 {
    text-align: center;
    margin: 2%;
}