<!--*************************       CARD FATTURE      **************************-->


<h2>FATTURE:</h2>
<button class="btn btn-success" [routerLink]="['/nuova-fattura']">Aggiungi fattura</button>
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id fattura</th>
                <th scope="col">Intestatario fattura</th>
                <th scope="col">Importo</th>
                <th scope="col">Data fatturazione</th>
                <th scope="col">Dettagli Fattura</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let fattura of fatture;">
                <td>{{fattura.id}}</td>
                <td>{{fattura.cliente.ragioneSociale}}</td>
                <td>{{fattura.importo}}</td>
                <td>{{fattura.data}}</td>
                <td><button class="btn btn-primary" [routerLink]="['/fatture/', fattura.id]">Vedi dettaglio</button></td>
            </tr>
        </tbody>
    </table>

    <!--*************************       CAMBIO PAGINA      **************************-->

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" style="cursor: pointer;" (click)="cambiaPagina('-')" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link">{{pagina +1}}</a></li>
            <li class="page-item">
                <a class="page-link" style="cursor: pointer;" (click)="cambiaPagina('+')" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

</div>